<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #f97316;
            background: #ea580c;
        }

        .cta-btn {
            color: #f97316;
        }

        .upgrade-btn {
            background: #f97316;
        }

            .upgrade-btn:hover {
                background: #f97316;
            }

        .active-nav-link {
            background: #f97316;
        }

        .nav-item:hover {
            background: #f97316;
        }

        .account-link:hover {
            background: #f97316;
        }
    </style>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>


</head>
<body class="bg-gray-100 font-family-karla flex">

    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
        <div class="p-6">
            <a href="/admin" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
            <a href="/admin/product_63130260/AddNewProduct" class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> Add new product
            </a>
        </div>
        <nav class="text-white text-base font-semibold pt-3">
            <a href="/admin" class="flex items-center  text-white py-4 pl-6 nav-item @(ViewBag.Title == "Anker | Khách Hàng" ? "active-nav-link" : "")">
                <i class="fa-solid fa-users mr-3"></i>
                Customer
            </a>
            @*<a href="/admin/sanpham/danhsach" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                    <i class="fas fa-sticky-note mr-3"></i>
                    Blank Page
                </a>*@
            <a href="/admin/product_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title == "Anker | Sản Phẩm" ? "active-nav-link" : "")">
                <i class="fa-regular fa-rectangle-list mr-3"></i>
                Product
            </a>
            <a href="/admin/product_63130260/AddNewProduct" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title == "Anker | Nhập Hàng" ? "active-nav-link" : "")">
                <i class="fa-solid fa-plus mr-3"></i>
                Add new product
            </a>
            <a href="/admin/order_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title.Contains("Đơn Hàng") == true  ? "active-nav-link" : "")">
                <i class="fa-regular fa-file mr-3"></i>
                Order
            </a>
            <a href="/admin/promotion_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title.Contains("Đơn Hàng") == true  ? "active-nav-link" : "")">
                <i class="fa-solid fa-tags mr-3"></i>
                Promotion
            </a>
            <a href="/admin/promotion_63130260/Addnewpromotion" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title.Contains("Đơn Hàng") == true  ? "active-nav-link" : "")">
                <i class="fa-solid fa-circle-plus mr-3"></i>
                Add new Promotion
            </a>
            <a href="/admin/DeletedItems_63130260/DeletedItems" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item @(ViewBag.Title == "Anker | Lịch" ? "active-nav-link" : "")">
                <i class="fa-solid fa-trash  mr-3"></i>
                Deleted
            </a>
        </nav>
        <a href="#" class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
            <i class="fas fa-arrow-circle-up mr-3"></i>
        </a>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <!-- Desktop Header -->
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
            <div class="w-1/2"></div>
            <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
                <button @@click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                    <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
                </button>
                <button x-show="isOpen" @@click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
                <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                    <a href="#" class="block px-4 py-2 account-link hover:text-white">
                        @{ var admin = Project_63130260.App_Start.SessionConfig.GetAdmin(); }
                        @if (admin != null)
                        {
                            @admin.first_name @admin.last_name
                        }
                    </a>
                    <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                    <a href="/admin/auth_63130260/logout" class="block px-4 py-2 account-link hover:text-white">Đăng xuất</a>
                </div>
            </div>
        </header>

        <!-- Mobile Header & Nav -->
        <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
            <div class="flex items-center justify-between">
                <a href="/" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                <button @@click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none" id="open-nav">
                    <i x-show="!isOpen" class="fas fa-bars"></i>
                    <i x-show="isOpen" class="fas fa-times"></i>
                </button>
            </div>

            <!-- Dropdown Nav -->
            <nav class="flex flex-col pt-4 hidden" id="nav-mobile">
                <a href="/admin" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                    <i class="fas fa-tachometer-alt mr-3"></i>
                    Customer
                </a>
                <a href="/admin/product_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-table mr-3"></i>
                    Product
                </a>
                <a href="/admin/product_63130260/AddNewProduct" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-align-left mr-3"></i>
                    Add new product
                </a>
                <a href="/admin/order_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-tablet-alt mr-3"></i>
                    Order
                </a>
                <a href="/admin/promotion_63130260" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fa-solid fa-tags mr-3"></i>
                    Promotion
                </a>
                <a href="/admin/promotion_63130260/Addnewpromotion" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fa-solid fa-circle-plus mr-3"></i>
                    Add new Promotion
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-user mr-3"></i>
                    @if (admin != null)
                    {
                        @admin.first_name @admin.last_name
                    }
                </a>
                <a href="/admin/auth_63130260/logout" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-sign-out-alt mr-3"></i>
                    Logout
                </a>
                <button class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                    <i class="fas fa-arrow-circle-up mr-3"></i>
                </button>
            </nav>
            <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> New Report
            </button> -->
        </header>

        @RenderBody()
    </div>

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <script>
        document.getElementById("open-nav").onclick = function () {
            document.getElementById("nav-mobile").classList.toggle("hidden")
        }
    </script>
</body>
</html>
