@model IEnumerable<DATA_63130260.Entity.site_user>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 m-2  mt-4"><i class="fas fa-list mr-3"></i>Dashboard</p>

<div class="w-full overflow-x-hidden border-t flex flex-col">

    @{
        var mapStatistics = new DATA_63130260.mapStatistics();
        int month = ViewBag.month;
        int year = ViewBag.year;

        var statis = mapStatistics.GetStatisticByMonth(month, year);
        var statisPre = mapStatistics.GetStatisticByMonth(month == 1 ? 12 : month - 1, month == 1 ? year - 1 : year);

        float percentRevenue = (statisPre.total_revenue != 0) ? ((float)statis.total_revenue - statisPre.total_revenue) / statisPre.total_revenue * 100 : 0.0001f;
        float percentUsers = (statisPre.total_users != 0) ? ((float)statis.total_users - statisPre.total_users) / statisPre.total_users * 100 : 0.0001f;
        float percentNewUsers = (statisPre.new_users != 0) ? ((float)(statis.new_users - statisPre.new_users) / statisPre.new_users * 100) : 0.0001f;
        float percentOrders = (statisPre.total_orders != 0) ? ((float)statis.total_orders - statisPre.total_orders) / statisPre.total_orders * 100 : 0.0001f;
        float percentCompeltedOrders = (statisPre.completed_orders != 0) ? ((float)statis.completed_orders - statisPre.completed_orders) / statisPre.completed_orders * 100 : 0.0001f;
        float percentProducts = (statisPre.total_products != 0) ? ((float)statis.total_products - statisPre.total_products) / statisPre.total_products * 100 : 0.0001f;
        //decimal percentNewProducts = (statis. - statisPre.total_revenue) / statisPre.total_revenue * 100;
        float percentNewPromotions = (statisPre.total_promotions != 0) ? ((float)statis.total_promotions - statisPre.total_promotions) / statisPre.total_promotions * 100 : 0.0001f;
    }
    <main class="w-full flex-grow p-6">
        <form method="get" id="monthlyStatisticsForm">
            <p class="text-xl pb-3 flex items-center">
                <i class="fas fa-list mr-3"></i> Monthly statistics <select name="month" id="monthSelect"
                                                                            class="form-select appearance-none mx-3
      block
      px-3
      py-1.5
      text-[20px]
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                                            aria-label="Default select example">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i"
                                @(ViewBag.month == @i ? "selected" : null)>
                            @i
                        </option>
                    }

                </select>
            </p>

        </form>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between ">
                        <div class="h-7 w-7 text-red-400 text-[26px]">

                            <i class="fa-solid fa-coins h-7 w-7"></i>
                        </div>
                        <div class="@(percentRevenue < 0 ? " bg-red-500"
                            : "bg-green-500" ) rounded-full h-6 px-2 flex
                            justify-items-center text-white font-semibold
                            text-sm">
                            <span class="flex gap-2 items-center">
                                @if (percentRevenue < 0)
                                {<i class="fa-solid fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-arrow-up"></i>
                                }
                                @(percentRevenue == 0.0001f ? "--" :
                                    string.Format("{0:0.00}",
                                    percentRevenue))%
                            </span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                                @string.Format("{0:#,0đ}", statis.total_revenue)
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Total
                                Revenue
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-orange-400 text-[26px]">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        @*<div class="@(percentUsers < 0 ? " bg-red-500"
                                : "bg-green-500" ) rounded-full h-6 px-2 flex
                                justify-items-center text-white font-semibold
                                text-sm">
                                <span class="flex gap-2 items-center">
                                    @if (percentUsers < 0) { <i
                                        class="fa-solid fa-arrow-down"></i>
                                        }
                                        else
                                        {
                                        <i class="fa-solid fa-arrow-up"></i>
                                        }
                                        @(percentUsers == 0.0001f ? "--" :
                                        string.Format("{0:0.00}",
                                        percentUsers))%</span>
                            </div>*@
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                                @statis.total_users
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Users
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-amber-400 text-[26px]">
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                        <div class="@(percentNewUsers < 0 ? " bg-red-500"
                            : "bg-green-500" ) rounded-full h-6 px-2 flex
                            justify-items-center text-white font-semibold
                            text-sm">
                            <span class="flex gap-2 items-center">
                                @if (percentNewUsers < 0)
                                {<i class="fa-solid fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-arrow-up"></i>
                                }
                                @(percentNewUsers == 0.0001f ? "--" :
                                    string.Format("{0:0.00}",
                                    percentNewUsers))%
                            </span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                               +@statis.new_users
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                New Users
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-yellow-400 text-[26px]">

                            <i class="fa-solid fa-clipboard-list"></i>
                        </div>

                        <div class="@(percentOrders < 0 ? " bg-red-500"
                            : "bg-green-500" ) rounded-full h-6 px-2 flex
                            justify-items-center text-white font-semibold
                            text-sm">
                            <span class="flex gap-2 items-center">
                                @if (percentOrders < 0)
                                {<i class="fa-solid fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-arrow-up"></i>
                                }
                                @(percentOrders == 0.0001f ? "--" :
                                    string.Format("{0:0.00}",
                                    percentOrders))%
                            </span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                               +@statis.total_orders
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Orders
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-lime-400 text-[26px]">

                            <i class="fa-solid fa-clipboard-check"></i>
                        </div>
                        <div class="@(percentCompeltedOrders < 0 ? " bg-red-500"
                            : "bg-green-500" ) rounded-full h-6 px-2 flex
                            justify-items-center text-white font-semibold
                            text-sm">
                            <span class="flex gap-2 items-center">
                                @if (percentCompeltedOrders < 0)
                                {<i class="fa-solid fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-arrow-up"></i>
                                }
                                @(percentCompeltedOrders == 0.0001f ? "--" :
                                    string.Format("{0:0.00}",
                                    percentCompeltedOrders))%
                            </span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                               +@statis.completed_orders
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Completed
                                Orders
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-green-400 text-[26px]">

                            <i class="fa-solid fa-cube"></i>
                        </div>
                        @*<div class="@(percentProducts < 0 ? " bg-red-500"
                                : "bg-green-500" ) rounded-full h-6 px-2 flex
                                justify-items-center text-white font-semibold
                                text-sm">
                                <span class="flex gap-2 items-center">
                                    @if (percentProducts < 0) { <i
                                        class="fa-solid fa-arrow-down"></i>
                                        }
                                        else
                                        {
                                        <i class="fa-solid fa-arrow-up"></i>
                                        }
                                        @(percentProducts == 0.0001f ? "--" :
                                        string.Format("{0:0.00}",
                                        percentProducts))%</span>
                            </div>*@
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                                @statis.total_products
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Products
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-cyan-400 text-[26px]">

                            <i class="fa-solid fa-calendar-plus"></i>
                        </div>
                        <div class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                            <span class="flex items-center">30%</span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                                @statis.total_products
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                New
                                Products
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
               href="#">
                <div class="p-5">
                    <div class="flex justify-between">
                        <div class="h-7 w-7 text-blue-400 text-[26px]">

                            <i class="fa-solid fa-tags mr-3"></i>
                        </div>
                        <div class="@(percentNewPromotions < 0 ? " bg-red-500"
                            : "bg-green-500" ) rounded-full h-6 px-2 flex
                            justify-items-center text-white font-semibold
                            text-sm">
                            <span class="flex gap-2 items-center">
                                @if (percentNewPromotions < 0)
                                {<i class="fa-solid fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-arrow-up"></i>
                                }
                                @(percentNewPromotions == 0.0001f ? "--" :
                                    string.Format("{0:0.00}",
                                    percentNewPromotions))%
                            </span>
                        </div>
                    </div>
                    <div class="ml-2 w-full flex-1">
                        <div>
                            <div class="mt-3 text-3xl font-bold leading-8">
                               +@statis.total_promotions
                            </div>

                            <div class="mt-1 text-base text-gray-600">
                                Promotions
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="w-full mt-12">
            <p class="text-xl pb-3 flex items-center">
                <i class="fas fa-list mr-3"></i> list of customers
            </p>
            <div class='flex justify-between my-2'>
                <div class="w-3/2 flex-1"></div>
                <div class="relative flex items-center w-1/3 h-12 rounded-lg focus-within:shadow-2xl bg-white overflow-hidden">
                    <div class="grid place-items-center h-full w-12 text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </div>

                    <input class="peer h-full w-full outline-none text-sm text-gray-600 pr-2"
                           type="text"
                           id="search"
                           placeholder="Search customers name.." />
                </div>
            </div>
            <div class="bg-white overflow-auto">
                <table class="min-w-full bg-white" id="tb">
                    <thead class="bg-gray-500 text-white">
                        <tr>
                            <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">
                                No
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                First name
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Last name
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Email
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Password
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Gender
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Address
                            </th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                                Phone Number
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        @{
                            var index = (ViewBag.page-1)* 10 + 1;
                        }
                        @foreach (var item in Model)
                        {
                            string addressRender = "";
                            <tr class="@(index % 2 == 0 ? " bg-gray-200" : null) customer">
                                <td class="text-left py-3 px-4">#@index</td>
                                <td class=" text-left py-3 px-4 fname">
                                    @item.first_name
                                </td>
                                <td class=" text-left py-3 px-4 lname">
                                    @item.last_name
                                </td>
                                <td class="text-left py-3 px-4">
                                    @item.email_address
                                </td>
                                <td class="text-left py-3 px-4">
                                    <input type="password" name="name"
                                           value="@item.password" readonly
                                           class="bg-transparent outline-none password-input"
                                           id="password-input" />
                                    <i class="fa-regular fa-eye-slash show-password cursor-pointer select-none"
                                       data-state="hidden"></i>
                                    <i class="fa-regular fa-eye hide-password cursor-pointer select-none"
                                       data-state="visible"
                                       style="display: none;"></i>
                                </td>

                                <td class="text-left py-3 px-4">
                                    @(item.gender.HasValue ? (item.gender.Value ?
                                "Male" : "Female") : "---")
                                </td>
                                @{
                                    var userAddress = item.user_address.FirstOrDefault(m
                                    => m.user_id == item.id & m.is_default == true);

                                    if (userAddress != null)
                                    {
                                        var address = userAddress.address;
                                        addressRender = address.street_number + ", " +
                                        address.district + ", " + address.city + ", " +
                                        address.province + ", " + address.postal_code;
                                    }
                                }
                                <td class="text-left py-3 px-4">
                                    @(addressRender ??
                                "---" )
                                </td>
                                <td class="text-left py-3 px-4">
                                    <a class="hover:text-blue-500"
                                       href="tel:@(item.phone_number ?? "")">
                                        @(item.phone_number
                                    ?? "---")
                                    </a>
                                </td>
                            </tr>
                            index++;

                        }
                    </tbody>
                </table>
                <div class="justify-center flex-1 px-4 py-6 mx-auto max-w-7xl lg:py-4 md:px-6">
                    @{ var page = 1;}
                    <div class="flex justify-center">
                        <ul class="flex items-center space-x-1">
                            <li>
                                <a href="/admin?page=@(ViewBag.page-1)#tb"
                                   class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-100 @(ViewBag.page ==1? "pointer-events-none opacity-75 ": "" )">
                                    <span class="sr-only">Previous</span>
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </li>
                            
                            @for (var i = 1; i <= ViewBag.Count; i ++)
                            {
                                <li>
                                    <a href="/admin?page=@page#tb"
                                       class="px-4 py-2  rounded-md hover:bg-orange-400 hover:text-white @(ViewBag.page == page? "text-gray-100 bg-orange-500" : " border border-gray-300 text-gray-700 bg-white")">
                                        @page
                                    </a>
                                </li>
                                page++;
                            }
                            
          
                            <li>
                                <a href="/admin?page=@(ViewBag.page+1)#tb"
                                   class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md  hover:bg-gray-100 @(ViewBag.page ==page-1? "pointer-events-none opacity-75 ": "" )">
                                    <span class="sr-only">Next</span>
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
   

    <footer class="w-full bg-white text-right p-4">
    </footer>
</div>

@section scripts{
    <script>
        // Ẩn hiện mật khẩu
        const showPasswordIcons = document.querySelectorAll('.show-password');
        const hidePasswordIcons = document.querySelectorAll('.hide-password');
        const passwordInputs = document.querySelectorAll('.password-input');

        showPasswordIcons.forEach((showIcon, index) => {
            showIcon.addEventListener('click', () => {
                passwordInputs[index].type = 'text';
                showIcon.style.display = 'none';
                hidePasswordIcons[index].style.display = 'inline';
            });
        });

        hidePasswordIcons.forEach((hideIcon, index) => {
            hideIcon.addEventListener('click', () => {
                passwordInputs[index].type = 'password';
                hideIcon.style.display = 'none';
                showPasswordIcons[index].style.display = 'inline';
            });
        });

        // submit form khi chọn tháng 
        document.getElementById('monthSelect').addEventListener('change', function () {
            document.getElementById('monthlyStatisticsForm').submit();
        });

        // Tìm kiếm
        var searchInput = document.getElementById("search");
        var customerList = document.querySelectorAll(".customer")

        // Bắt sự kiện nhấn phím nhập vào input
        searchInput.onkeyup = function () {
            customerList.forEach((cus) => {
                // Lấy ra firstname và lastname của người dùng
                var fname = cus.querySelector(".fname").innerText.toLowerCase();
                var lname = cus.querySelector(".lname").innerText.toLowerCase();
                var fullname = fname + " " + lname;
                //Kiểm tra nếu giá trị của ô input tìm kiếm vừa nhập nằm trong fullname thì hiển thị ra sản phẩm đó bằng cách xóa class hidden
                if (fullname.toLowerCase().includes(searchInput.value.toLowerCase())) {
                    cus.classList.remove("hidden");
                }
                //người lại sẽ ẩn các sản phẩm không thỏa mãn bằng cách thêm class hidden

                else {
                    cus.classList.add("hidden");
                }
            })
        }
    </script>
}